input {margin-left: 20px;height: 30px;}
.nobullet {
    list-style: none;
}

a{
    text-decoration: none;
    font-size: 11px;
}
.cursor-move {
    cursor: move;
}

.height75 {
    height:75%;
}

.height100 {
    height: 100%;
}

.rounded {
    -moz-border-radius: 15px;
    -webkit-border-radius: 15px;
}

body{
    font-family: "lucida grande", tahoma, verdana;
    font-size: 11px;
}

.storyCard {
    background-color: #F4F4F4;
    height: 100px;
    width: 180px;
    margin: 2px;
}

.emptyCard {
    height: 100px;
    width:180px;
}

.storyCard .cardHandle {
    width: 10px;    
    height: 100%;
    float:left;
}

.task-card {
    height: 100px;
    width: 150px;
    padding: 5px;
    background-color: lightyellow;
    border: 1pt solid bisque;
}
.task-handle {
    /*    width: 10px;  
        height: 100%;
        background-color: #710909;
        float:left;*/
}

.story-card  {
    background-color: mintcream;
    border: 1pt solid mediumseagreen;
    min-height: 150px;
    width: 250px;
     
}

#story-card .portlet-content p.title {
    margin-bottom: 2px;
    text-decoration: underline;
}

#story-card .portlet-content p {
    font-family: "Comic Sans MS";
}

.clear {
    clear: both;
}

.cardwall {
    width :95%;
    -moz-border-radius: 15px;
    -webkit-border-radius: 15px;
    background-color: white;  
    height : 100%;
}

.cardwall .statusHeader {
    height: 100%;
    padding: 1em;
}

.tasks-table td {
    border-top: 1pt solid white;
}


.cardwall .status {
    width: 19%;
}

.cardwall .last {
    border: none;
}

.story-task-columns-header {
    padding-left: 20px;
}

.statusHeader .last {
    clear: right;
}

.sprint-info table {
    width: 250px;
    background-color: beige;
}

.sprint-info table .header{
    font-weight: bold;
}

.statusTitle {
    text-align: center;
}

.white {
    color: white;
}

.width-100 {
    width: 100%;
}

body {
    margin-top: 0;
}




.cards {
    height:89.5%;
}

.story {
    margin: 5px 2px 2px 2px;
    line-height: 1em;
    margin-bottom: 0px;
    padding: 5px;
    background-color: #F4F4F4;
    cursor: move;
}

.context-menu {
    padding-left: 0;
}

input.textboxlist-bit-editable-input {
    border: none;
}

div.textboxlist {
    width:600px;
}

span.small {
    font-size: 12px;
}

.roundElement  {
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
}

.pearElement  {
    -moz-border-top-left-radius: 7px;
    -moz-border-top-right-radius: 5px;
    -moz-border-bottom-right-radius: 6px;
    -moz-border-bottom-left-radius: 8px;

    -webkit-border-top-left-radius: 7px;
    -webkit-border-top-right-radius: 5px;
    -webkit-border-bottom-right-radius: 6px;
    -webkit-border-bottom-left-radius: 8px;
}

.oddRoundElement {
    /* or */
    -moz-border-radius: 12px 5px;
    -webkit-border-radius: 12px 5px;
}


/* planner */


.drag-text {
    font-size: 14px;
    padding-left: 10px;
}

.releaseStories {
    min-height:40px;
    color:gray;
    margin-right:12px;
    margin-left:10px;
}

.release-heading {

}

.expand-collapse {
    margin-left: 0px;
    font-size: 14px;
    font-weight: bold;
    float: left;
    height: 60px;
    vertical-align: middle;
    background-color: lightgray;
}

.expand-collapse:hover {
    background-color: #feefd6;
    cursor: pointer;
}


.release-title table td{
    vertical-align: middle;
}

.story-title {
    color: #D14836;
}

.release-story {
    padding:0;
}

form  fieldset ul.errors {
    font-size: 10px;
    margin-left: 150px;
    list-style: none;
}
form  fieldset ul.errors li {
    color:red;
}

.sprint-header-table, .sprint-header-table td {
    border: none;
}

.sprint-header-table tr {
    background-color: lightgray;
}

/* estimate dropdown */

/* dropdowns: general */
a.dropdown {margin-bottom: 2px; background: #88bbd4; padding: 4px 6px 6px; text-decoration: none; font-weight: bold; color: #fff; -webkit-border-radius: 4px; -moz-border-radius: 4px; border-radius: 4px; }
a.dropdown:hover { background: #59b; }
a.dropdown { position: relative; margin-left: 3px; }
a.dropdown span { background-image: url(/img/toggle_down_light.png); background-repeat: no-repeat; background-position: 100% 50%; padding: 4px 16px 6px 0; }
a.dropdown.dropdown-active { color:#59b; background-color:#ddeef6; }
a.dropdown.dropdown-active span { background:url(/img/toggle_up_dark.png) 100% 50% no-repeat; }
.dropdownmenu  { background:#ddeef6; padding:7px 12px; position:absolute; top:16px; right:0; display:none; z-index:5000; -moz-border-radius-topleft: 5px; -moz-border-radius-bottomleft: 5px; -moz-border-radius-bottomright: 5px; -webkit-border-top-left-radius: 5px; -webkit-border-bottom-left-radius: 5px; -webkit-border-bottom-right-radius: 5px; }
.dropdownmenu p { font-size:11px; }
.dropdownmenu a:link, .dropdownmenu a:visited  { font-weight:bold; color:#59b; text-decoration:none; line-height:1.7em; }
.dropdownmenu a:active, .dropdownmenu a:hover { color:#555; }

/* dropdowns: specific */
#menu1      { float:left; margin-right:20px; }
/*#dropdown1  { width:20px; }*/
#dropdown1 a  { display:block; }
#menu2      { float:left; }
#dropdown2  { width:150px; font-size:11px; }
.relative    { position:relative; }


/* Editable */

.editable:hover  { background:#eee; }
.textarea textarea{ height:200px; padding:3px; }
.editable-empty  { background:#fffea1; padding:20px; border:1px dashed #fc0; }
.box    { border:1px solid #ccc; padding:5px; display:inline; }

.modal-body div.clearfix {
    margin-top: 10px;
}

.sprint-stories, .release-stories {
    min-height: 100px;
    padding: 10px;
}

.sprint-header, .release-header{
    font-size: larger;
    padding: 10px;
    height:30px;
    background-color: E1E4DE;
    margin-bottom: 10;
    cursor: pointer;
}

.story-sortable-placeholder {
    height: 40px;
    background-color: #ffffcc;
}

.sprint-goal, .release-title {
    margin: 10px;
}


/* Team */

table.team {
    width : 500px;
    background-color: #f4f4f4;
}

table.team .table-header{
    background-color: #e1e4de;
}

.page-header table {
    border: none; 
    width: inherit;
    margin: 0;
}
.page-header table h1{
    margin: 0;
    padding: 0;
}
.page-header table td {
    border: none;
    vertical-align: bottom;
}

#portlet-products {
    width: 300px;
}

.sidebar {
    margin-top: 20px;
}

.modal form {
    margin: 0;
}

.backlog {
    height:90%;
    padding: 10px;
    border: 1pt solid beige;
    overflow-y: auto;
}

.fieldError {
    color: #ff0000;
}

#sprint-info tr td {
   border:none;
}

.bold {
    font-weight: bold;
}

#loginActions {
    border: none;
}
#loginFormContainer {
    position: absolute; left: 50%; top: 50%;
    width: 450px; height: 200px;
    background: aliceblue;
    margin-left: -225px; margin-top: -150px;
}

#loginFormContainer fieldset, #loginFormContainer fieldset legend {
    padding: 10px;
}

#form-add-task #description {margin-left: 20px;}
#form-add-task #estimate {width: 60px;}


#form-registration fieldset legend {
    padding: 10px;
}
#div-registration {
    position: absolute; left: 50%; top: 50%;
    width: 450px; height: 200px;
    background: aliceblue;
    margin-left: -225px; margin-top: -150px;
}

#register-actions {
    height: 40px;
    border: none;
    padding-top: 2px;
}

/** profile form **/
form#form-profile #postcode { width: 100px; }
div#div-product-settings fieldset legend { padding-left: 20px; }
div#div-product-settings fieldset input { padding-left: 20px; }
div#div-product-settings fieldset select { margin-left: 10px; }
div#div-product-settings fieldset label { padding-left: 20px; width:auto;float:none}
div#div-product-settings fieldset span { padding-left: 20px; margin-left: 20px; }

div#div-product-settings #table-story-status-list {width: 550px; margin-left: 20px;}
div#div-product-settings #table-story-status-list tbody tr { background-color: #f4f4f4;}

/** cadwall tabs **/
ul#walls {border-bottom: 5px solid #ddf4fb; margin-bottom: 5px; width: 100%; 
          list-style: none; margin-left: 0;}
ul#walls li {margin: 0 2px; color: #000; display: block; padding: 10px; float: left;}
ul#walls li{background-color: #e1e4de;}
ul#walls li a {text-decoration: none; font-weight: bolder}
ul#walls li.active {background-color: #ddf4fb }